.navbar-toggler 
{
    
border-color:rgb(18, 51, 238);
}
.pp
{
  
  color: #f1eded;
}
.card
{
    background-color: #1f1f1f;
    color:red;
}
.btn
{
    color:green;
}
.jumbotron
{

  background-color: #1f1f1f;
}
